<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  {% block title %}<title>Kaiser Konok | Home</title
  >{% endblock title %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  {% block css %}{% endblock css %}

  <body>
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a href="/">Kaiser Konok</a>
        </div>
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#"><span></span></a>
          </div>
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
          </ul>
        </nav>
      </div>
    </section>
    {% block content %}{% endblock content %}
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="{% static 'js/base.js' %}"></script>
</html>
